Package: com.creatix.classicuniversalforce
Name: ClassicUniversalForce
Depends: mobilesubstrate
Version: 0.0.1-132
Architecture: iphoneos-arm
Description: UniversalForce 0.0.1-132's backup.
Depiction: http://Anoyou.github.io/cydia/Depic/com.creatix.classicuniversalforce/index.html
Maintainer: Creatix
Author: Creatix
Section: Tweaks
