Package: com.linspike.kuaidial
Priority: optional
Section: Tweaks
Installed-Size: 3999
Maintainer: linspike <linspike@gmail.com>
Architecture: iphoneos-arm
Version: 1.0.1a2-13
Name: KuaiDial
Depends: mobilesubstrate, preferenceloader, firmware (>= 7.0)
Conflicts: kuaidial-beta
Replaces: kuaidial-beta
Author: linspike <linspike@gmail.com>
Description: adds useful functions to Phone app
